@import "tailwindcss";


/* 
tailwind margin values
    1   0.25rem
    2  0.5rem
    3 0.75 rem
    4  1rem
    5
    6   1.5
    7
    8   2rem
    9 
    10  2.5rem
    11
    12  3rem
    13  3.25
    14  3.5

*/

/* .flex{
  display:flex;
} 

.justify-center{
  justify-content: center;

} 
.capitalize{
  text-transform: capitalize;
} */


.nav-links{
  display: flex;
  justify-content: center;
  gap:1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

td,th{
  border:1px solid;
  padding:.5rem;
}

table{
  border-collapse: collapse;
}

.courses{
  display: flex;
  flex-wrap: wrap;
  gap:20px;

}

.course{
  width: 25%;
  border: 1px solid;
  padding:1rem
}

.success{
  background-color: green;
  color:white
}

.pending{
  background-color: red;
  color:white
}


/* button:hover{
  background-color: beige;
} */


/* .target{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:1rem
} */