@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@layer components {
  .container {
    @apply mx-auto px-3 md:px-0;
  }

  .track {
    @apply border border-red-500;
  }

  .header {
    @apply font-josefin font-bold;
  }
  .sub-header {
    @apply font-josefin;
  }
}

@theme {
  --font-josefin: "Josefin Sans", sans-serif;

  --color-primary: #151875;
  --color-primary-light: #7e33e0;
  --color-primary-dark: #0d0e43;
  --color-secondary: #fb2e86;

  --color-body: #9295aa;
  --color-netural-muted: #8a8fb9;
}

/* .track{
  border: 2px solid red; 

} */
